#nested{
    margin: 50px 0;
}
.btnPro{
    padding: 4px 15px;
    color: #552F00;
    border: none;
    background: linear-gradient(to bottom,#FEB13A,#e77f09);
}
.ProText{
    a{
        color:#41454e;
    }
}
.Ptext{
    border: 1px solid #CACACA;
    background-color: #f2f3f6;
    padding: 1px 10px 10px;
    overflow-y: scroll;
    overflow: hidden; 
    width: auto; 
    margin-top:50px ;
    height: 300px;
}
.PcHeader{
    border-bottom: 1px solid #CACACA;
    padding: 15px 10px 0 20px;  
    span{
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 20px;
        border-bottom: 4px solid #3b4a65;
        color: #3b4a65;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
}
.PcButton{
    border: 1px solid #CACACA;
    background-color: #f2f3f6;
    padding: 1px 10px 10px;
    text-align: right;
    a{
        font-weight: 700;
        padding: 5px 10px;
        font-size: 17px;
        color: #552F00;
        margin-top: 5px;
        background: linear-gradient(to bottom,#FEB13A,#e77f09)
    }
        p{
        font-size: 27px;
        font-weight: 700;
        color: #001d48;
    }
}